.card-container {
  background-color: #fff;
  border: 1px solid #e5e7eb;
  transition: box-shadow 0.9 ease;
  padding: 24px;
  height: 410px;
  width: 420px;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease, box-shadow 0.3s ease;
}

.card-container:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 15px rgba(120, 90, 190, 0.2) !important;
}

.card-img {
  width: 400px;
  height: 200px;
  margin-bottom: 24px;
  object-fit: contain;
  padding: 4px;
  background-color: #f9fafb;
  border-radius: 4px;
}

.card-title {
  color: #111827;
  font-size: 24px;
  font-weight: 600;
}

.card-description {
  color: #4b5563;
  font-size: 16px;
  padding-top: 8px;
}

.card-techs {
  display: flex;
  gap: 16px;
  margin-bottom: 8px;
}

.tech-icon {
  width: 48px;
  height: 48px;
}

.holder-container {
  border-radius: 8px;
  padding: 8px 16px;
  width: 124px;
  text-align: center;
  border: 1px solid #e5e7eb;
}

@media screen and (max-width: 991px) {
  .card-container {
    width: 900px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .card-title {
    font-size: 28px;
  }

  .card-description {
    font-size: 20px;
  }

  .card-img {
    width: 900px;
  }
}

@media screen and (max-width: 768px) {
  .card-container {
    width: 100%;
  }

  .card-title {
    font-size: 24px;
  }

  .card-description {
    font-size: 18px;
  }
}

@media screen and (max-width: 461px) {
  .holder-container {
    width: 100%;
    padding: 4px 8px;
  }
}
