.card-container{
    background-color: #FFF;
    border: 1px solid #E5E7EB;
    border-radius: 8px;
    transition: box-shadow 0.9 ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    padding-top: 8px;
    padding-bottom: 8px;
}

.card-img{
    width: 400px;
    height: 200px;
    margin-bottom: 24px;
    box-shadow: 0 8px 6px rgba(0, 0, 0, 0.1);
}

.card-title{
    color: #111827;
    font-size: 18px;
    font-weight: 600;
}

.card-description{
    color: #4B5563;
    font-size: 16px;
    padding-top: 8px;
}

.card-techs{
    display: flex;
    gap: 16px;
    margin-bottom: 8px;
}

.tech-icon{
    width: 48px;
    height: 48px;
}

