* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input:focus,
textarea:focus,
select:focus {
  border-color: black !important;
  box-shadow: #9060ff 0px 0px 16px 0px !important;
}

:root {
  --font-sans: "Geist Mono";
}

body {
  font-family: var(--font-sans), ui-sans-serif, system-ui, -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans",
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Noto Color Emoji";
  background-color: #f9fafb;
}

.hero-section {
  background-image: linear-gradient(to right, #f3f4f6, #ede9fe);
  margin-top: 32px;
  height: 320px;
  width: 1504px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.hero-title {
  font-size: 40px;
  font-weight: 700;
}

.hero-subtitle {
  color: #4b5563;
  font-weight: 600;
}

.about-section {
  padding-top: 80px;
}

.about-container-photo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.about-photo {
  border: 2px solid #fff;
  box-shadow: #9060ff 0px 0px 16px 0px;
  border-radius: 50%;
  width: 256px;
  height: 256px;
}

.about-text {
  font-size: 20px;
  color: #4b5563;
}

.about-text-color {
  font-weight: 600;
  color: #7c3aed;
}

.about-info {
  padding-top: 8px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 8px;
}

#portfolio {
  padding-top: 160px;
}

.portfolio-section-title {
  margin-bottom: 24px;
}

.portfolio-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  gap: 16px;
  grid-auto-flow: dense;
  grid-auto-rows: auto;
}

.portfolio-cards > *:last-child:nth-child(3n - 2):nth-last-child(1) {
  grid-column: 2;
}

.portfolio-cards > *:last-child:nth-child(3n - 1):nth-last-child(1) {
  grid-column: 2 / 4;
}

.skills-section {
  padding-top: 120px;
}

.skills-section-cards {
  padding-top: 16px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
}

#contact {
  padding-top: 120px;
}

.contact-title {
  margin-bottom: 24px;
}

.contact-subtitle {
  color: #4b5563;
}

.contact-texts {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.form-control {
  margin-bottom: 16px;
}

.footer-container {
  background-color: #f5f5f7;
  color: #4b5563;
  border-top: 1px solid rgba(139, 92, 246, 0.25);
  box-shadow: 0 -3px 6px rgba(139, 92, 246, 0.12);
  margin-top: 120px;
  padding: 16px;
}
